webrequest==0.0.44
sqlalchemy_utils==0.33.2
mdx_linkify==1.1
apscheduler==3.5.1
psycopg2==2.7.5
babel==2.6.0
sqlalchemy_jsonfield==0.7.0
flask==1.0.2
alembic==1.0.0
flask-wtf==0.14.2
cherrypy==17.0.0
pyramid==1.9.2
beautifulsoup4==4.6.1
flask_sqlalchemy==2.3.2
flask-debugtoolbar==0.10.1